/* ==========================================================================
   The Kafe - Ultimate Freelance Marketplace Template
   ========================================================================== */
/*
* Author Name: TheMashaBrand
* Author URI: http://themeforest.net/user/themashabrand
* Website: http://www.themashabrand.com
  
/* ------------------------------------------------------------------- */
/* Import Section
---------------------------------------------------------------------- */
@import url("base.css");				/* Default Reset, Typography, Forms, etc. */
@import url("bootstrap.min.css");			/* Bootstrap 3.3.6 */
@import url("font-awesome.min.css");		/* Font-awesome 4.5.0 */
@import url("animate.min.css");		/* Scrolling Animations */
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");


/* ------------------------------------------------------------------- */
/* Table of Contents
---------------------------------------------------------------------- 
1. Navbar                           - Line 92
2. Footer                           - Line 406
3. Home Page (index.html, index-2.html, index-3.html)
    - Header Section                - Line 567
	- Services Section              - Line 708
	- Banner-comment Section        - Line 868
	- Stats Section                 - Line 898
	- Testimonials Section          - Line 956
	- Media Queries                 - Line 1109
4. About Page (about.html)
    - Header Section                - Line 1158
	- Hello Section                 - Line 1207
	- Timeline Section              - Line 1242
	- White Section                 - Line 1452
	- Team Section                  - Line 1476
	- Join Section                  - Line 1650
	- Media Queries                 - Each Section has it's own Media Queries
5. Jobs Page (jobs.html)
    - Header Section                - Line 1676
	- Joblist Section               - Found on base.css
6. Job Post Page (jobpost.html)
    - Header Section                - Line 1724
    - Job Post Section              - Line 1744
    - User Panel Section            - Line 1830
7. Services Page (services.html)
    - Header Section                - Line 1900
	- Joblist Section               - Found on base.css
8. Freelancer Page (freelancer.html)
    - Header Section                - Line 1942
	- Overwiew Section              - Line 2034
9. Portfolio Page (portfolio.html)
	- Portfolio Section             - Line 2238
10. How 1 Page (how-1.html)
	- Header Section                - Line 2444
	- White Section                 - Line 2493
	- Video Section                 - Line 2537
11. How 2 Page (how-2.html)
	- Header Section                - Line 2565
	- Banner How Section            - Line 2617
12. Login Page (login.html, register.html)
	- Header Section                - Line 2699
	- Banner Login Section          - Line 2751
	- Form Section                  - Found on base.css
13. Sign Up Page (signup.html)
	- Sign up Section               - Line 2764
14. Contact Page (contact.html)
	- Header Section                - Line 2862
	- Map Section                   - Line 2930
	- Contact Section               - Line 2939
15. Blog (blog.html)
	- Header Section                - Line 3060
	- Blog Categories Section       - Line 3114
	- Blog Section                  - Line 3267
16. Blog Page (blogpage.html)
	- Header Section                - Line 3538
	- Articles Section              - Line 3596
	- Blog Author Section           - Line 3688
	- Comments Section              - Line 3761
	- Media Queries Section         - Line 3851
17. FAQ Page (faq.html)
	- Header Section                - Line 3894
	- Faq Section                   - Line 3937
	- Media Queries                 - Line 4043

---------------------------------------------------------------------- */     

/* ==========================================================================
   Navbar Styles
   ========================================================================== */  
.navbar{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  color:black;
  background-color: white;
  -webkit-transition:background 0.3s ease-out;
  transition:background 0.3s ease-out;
}

.navbar.scrolled {
  background-color: white;
  color:black;
} 

.navbar a {
  color: black !important;
}

.navbar a:hover {
  outline: 0;
  color: #203075 !important;
}

.navbar .navbar-nav {
  letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
  outline: 0;
}

.navbar .navbar-brand {
  /*text-transform: uppercase;*/
  /*font-weight: 700;*/
  /*font-size: 20px;*/
  /*color: #fff;*/
  /*margin-top: 15px;*/
  margin-bottom: 5px;*/
}

.navbar .navbar-brand:hover{
  background:none;
  filter:none;
  border:none;
  box-shadow: none;
}

/* The toggle */
#toggle,
.toggle {
  display: none;
}

/* The menu items */
.menu {
  text-align: right;
  height: 100%;
}

.menu li {
  display: inline-block;
  list-style: none;
  margin-left: 30px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 70px;
  text-transform: uppercase;
  color: rgba(255,255,255,1.0);
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: rgba(255,255,255,0.75);
  height: 100%;
}

.menu li a:hover {
  color: #203075;
}

.dropdown-menu {
  left: auto;
  right: 0;
}

.menu li.dropdown {
  display: inline-block;
  list-style: none;
  margin-left: 30px;
  font-size: 13px;
  font-weight: 600;
  line-height: 0px;
  text-transform: uppercase;
  color: #000000 !important;
}

.menu li.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  left: auto;
  right: 20px;
  top: -7px;
  float: right;
  z-index: 10;
}

.menu li.dropdown ul.dropdown-menu {
  float: right !important;
  margin-top: 20px;
  min-width: 150px;
  border: 1px solid #fff;
  color: #000000 !important;
}

.menu li.dropdown ul.dropdown-menu > li{
  color: #000000 !important;
  display: block;
  list-style: none;
  margin-left: 0px !important;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0 !important;
  line-height: 10px !important;
}

.menu li.dropdown ul.dropdown-menu > li > a{
  font-family: 'Montserrat', sans-serif;
  color: #2C3E50 !important;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* ==========================================================================
   Media Queries - Responsive settings for the navbar
   ========================================================================== */
@media only screen and (max-width: 768px){
    /* Navbar Media Queries */
    .navbar-fixed-top {
     padding: 5px 0;
     -webkit-transition: padding .3s;
     -moz-transition: padding .3s;
     transition: padding .3s;
    }
    .navbar-fixed-top .navbar-brand {
     /*font-size: 18px;*/
     -webkit-transition: all .3s;
     -moz-transition: all .3s;
     transition: all .3s;
	 margin-top: 0;
	 /*margin-left: 15px;*/
    }
	.main-menu h1 {
	 margin-top: 0;
	 margin-left: 15px;
	}

	/* The toggle */
	.toggle {
	 display: block;
	 position: relative;
	 cursor: pointer;
	 -webkit-touch-callout: none;
	 -webkit-user-select: none;
	 user-select: none;
	 color: #fff;
	 float: right;
	 font-family: 'FontAwesome';
	 text-align: center;
	 font-size: 14px;
	 width: 50px;
	 height: 50px;
	 line-height: 50px;
	}
	.toggle:hover {
	 color: #203075;
	}
	.toggle:after {
	 content: '\f0c9';
	}
	#toggle:checked ~ .menu {
	 display: block;
	 filter: alpha(opacity=100);
	 opacity: 1;
	}
	#toggle:checked + .toggle:after {
	 content: '\f077';
	}
	
	/* The menu items */
	.menu {
	 display: none;
	 filter: alpha(opacity=0);
	 opacity: 0;
	 margin-top: 83px;
	 width: 100%;
	 position: absolute;
	 right: 0;
	 height: auto;
	 text-align: left;
	 background: #fff;
	 padding-bottom: 10px;
	}
	.menu li {
	 display: block;
	 width: 100%;
	 height: 40px;
	 line-height: 40px;
	 margin: 0;
	}
	.menu li a {
	 display: block;
	 width: 100%;
	 height: auto;
	 margin-left: 15px;
	}
	.dropdown-menu {
	 left: 15px;
	 right: 40px;
	}
	.menu li.dropdown {
	 display: inline-block !important;
	 margin: 0px;
	 width: 100%;
	 height: 40px;
	 line-height: 40px;
	}
	.menu li.dropdown ul.dropdown-menu:before {
	 content: "";
	 border-bottom: 10px solid #fff;
	 border-right: 10px solid transparent;
	 border-left: 10px solid transparent;
	 right: auto;
	 top: -7px;
	 float: left;
	 z-index: 10;
	}
	.menu li.dropdown ul.dropdown-menu {
	 padding: 0px 0px;
	 line-height: 30px !important;
	 margin-top: 0px;
	 min-width: 90px;
	 color: #000000 !important;
	}
	.menu li.dropdown ul.dropdown-menu > li{
	 display: inline-block !important;
	 height: 0px;
	 line-height: 20px !important;
	}
	.menu li.dropdown ul.dropdown-menu > li > a{
	  margin-left: 0px !important;
	}
}

/* ==========================================================================
   Footer Section
   ========================================================================== */   	
.footer {
  padding: 60px 30px;
  background: #efefef;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.footer p {
  color: #858686;
  font-weight: 300;
}

.footer h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #0d1d61;
}

.footer .text-left > hr {
  margin-left: 0 !important;
}

.footer a {
  font-family: 'Varela Round', sans-serif;
  line-height: 24px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  display: block;
  margin: 10px 0;
  color: #373737;
  text-decoration: none;
}

.footer a:hover{
  color:black; !important;
}

/* ==========================================================================
   Made Section
   ========================================================================== */
.made {
  padding: 40px 0;
  background-color: #fff;
}

.made h4.made-with-love {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  color: #8A9CA0 !important;
}

.made p.made-with-love-1 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  color: #8A9CA0 !important;
}   

/* ==========================================================================
   Bottom Footer Section
   ========================================================================== */
.main-footer {
  color:#2C3E50;
  background: #efefef;
  padding-top: 20px;
}

#main-footer p{
  font-weight: 500;
  margin: 10px 0;
  letter-spacing: 0px;
}

#main-footer i.logo{
  font-size: 40px;
  line-height:40px;
}

.social-links {
  list-style:none;
  margin:0;
  padding:0;
  margin-bottom:20px;
}

.social-links li{
  display:inline-block;
  margin:0 5px;
  border-radius: 0px;
  box-shadow:0 4px 0 transparent;
}

.social-links li a {
  display:block;
  color:#fff;
  color:rgba(255,255,255,0.3);
  font-size:18px;
  width:40px;
  height:40px;
  line-height:40px;
  text-align:center;
  background:rgba(0,0,0,0.2);
  border-radius: 0px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.social-links li a:hover {
  color:#fff !important;
  background:#203075;
}

.main-footer .text-right a{
  text-decoration: none;
  color:#203075;
}

.main-footer .text-right a:hover{
  color:black !important;
}

#scrollup {
  background: url("../img/arrow.png") no-repeat 0px 0px;
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 14px;
  right: 3%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: none;
  text-indent: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 768px){
    /* Footer Section Media Queries */
	#main-footer [class*=row],
    #main-footer .text-right{
     text-align:center;
    }
	#scrollup {
	width: 50px;
	height: 30px;
    }
}

/* ==========================================================================
   Home Page  (index.html, index-2.html, index-3.html)
   ========================================================================== */ 
   
/* ------------------------------------------------------------------- */
/* Header Section
---------------------------------------------------------------------- */
   
.header-one{
  background: url('public/asset/img/slider/1.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 100vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-one .content {
  margin-top: 90px;
}   

.header-two {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-two .content {
  margin-top: 180px;
}

header h1.name {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 65px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
}

header p.temp {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}

header h1.hire {
  color: #ffffff;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
}

/* -------------------------------- */
/* Header Buttons
----------------------------------- */

header .form-row { 
  margin-bottom: 135px; 
  font-size: 0; 
  line-height: 0; 
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

header .form-row .radio-left,
header .form-row .radio-right { 
  display: inline-block; 
}

header .form-row .radio-left a,
header .form-row .radio-right a { 
  display: block; 
  width: 210px; 
  height: 50px; 
  padding-top: 20px;  
  font-size: 14px; 
  line-height: 17px; 
  color: #fff; 
  text-transform: uppercase; 
  cursor: pointer; 
  letter-spacing: 0.15em;
  font-weight: 700;
  text-align: center;
  margin-right: 10px;
}

header .form-row .radio-left a { 
  background: #203075; 
  border-radius: 36px; 
}

header .form-row .radio-right a { 
  background: #2C3E50; 
  border-radius: 36px; 
}

header .form-row a:hover { 
  text-decoration: none !important; 
  color: #fff !important;
}

header .form-row .radio-left a:hover { 
  background: #203055 !important; 
}

header .form-row .radio-right a:hover { 
  background: #34495E !important; 
}

img{
  vertical-align: middle;
  max-width: 100%;
  border: 0;
}

header .logos {
  width: 100%;
  bottom: -50px;
  position: absolute;
  text-align: center;
}

/* ------------------------------------------------------------------- */
/* Services Section
---------------------------------------------------------------------- */

.services {
  padding: 30px 0 50px;
  background: #efefef;
}

.services h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #000;
}

.services p.top-p {
  margin: 10px 0;
  color: #000;
}

.services .features {
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-top-left-radius: 6px; 
  border-top-right-radius: 6px; 
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-top-left-radius: 6px; 
  -webkit-border-top-right-radius: 6px; 

  /* Firefox 1-3.6 */
  -moz-border-top-left-radius: 6px; 
  -moz-border-top-right-radius: 6px; 
  
}

.services .features.one{
  background: linear-gradient(
      rgba(34,34,34,0.55), 
      rgba(34,34,34,0.55)
    ), url('../img/services/1.jpg') no-repeat center center;
  width: 100%;
  padding: 20px 15px;
  margin-top: 20px;
  color: #fff;
}

.services .features.two{
  background: linear-gradient(
      rgba(34,34,34,0.55), 
      rgba(34,34,34,0.55)
    ), url('../img/services/2.jpg') no-repeat center center;
  padding: 20px 15px;
  margin-top: 20px;
  color: #fff;
}

.services .features.three{
  background: linear-gradient(
      rgba(34,34,34,0.55), 
      rgba(34,34,34,0.55)
    ), url('../img/services/3.jpg') no-repeat center center;
  padding: 20px 15px;
  margin-top: 20px;
  color: #fff;
}

.services .features.four{
  background: linear-gradient(
      rgba(34,34,34,0.55), 
      rgba(34,34,34,0.55)
    ), url('../img/services/4.jpg') no-repeat center center;
  padding: 20px 15px;
  margin-top: 20px;
  color: #fff;
}

.services .features.five{
  background: linear-gradient(
      rgba(34,34,34,0.55), 
      rgba(34,34,34,0.55)
    ), url('../img/services/5.jpg') no-repeat center center;
  padding: 20px 15px;
  margin-top: 20px;
  color: #fff;
}

.services .features.six{
  background: linear-gradient(
      rgba(34,34,34,0.55), 
      rgba(34,34,34,0.55)
    ), url('../img/services/6.jpg') no-repeat center center;
  padding: 20px 15px;
  margin-top: 20px;
  color: #fff;
}

.services .features.seven{
  background: linear-gradient(
      rgba(34,34,34,0.55), 
      rgba(34,34,34,0.55)
    ), url('../img/services/7.jpg') no-repeat center center;
  padding: 20px 15px;
  margin-top: 20px;
  color: #fff;
}

.services .features.eight{
  background: linear-gradient(
      rgba(34,34,34,0.55), 
      rgba(34,34,34,0.55)
    ), url('../img/services/8.jpg') no-repeat center center;
  padding: 20px 15px;
  margin-top: 20px;
  color: #fff;
}

.services .features .fa-stack{
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.services .features .fa-3x{
  font-size: 3em;
}

.services .features .fa-inverse{
  color: #555;
}

.services .features h4{
  font-family: 'Varela Round', sans-serif;
  margin: 10px 0;
  letter-spacing: 1px;
}

.services .spacer {
  margin: auto;
  background-color: #fff;
  padding: 20px 15px;
  color: #899797 !important;
  border-top: 5px solid #2C3E50;
  border-bottom: 5px solid #203075;
}

.services .spacer > p {
  margin: 10px 0;
 }
 
.services a:hover {
  text-decoration: none;
} 

.services .spacer:hover{
  background: #203075;
  color: #fff !important;
}

/* ------------------------------------------------------------------- */
/* Banner Comment Section
---------------------------------------------------------------------- */
   
.banner-comment {
  width: 100%;
  height: 50vh;
  background: url('../img/bg/1.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 background-size: 100% 100%;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 0 30px;
} 

.banner-comment h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

/* ------------------------------------------------------------------- */
/* Stats Section
---------------------------------------------------------------------- */

.stats {
  position: relative;
  padding: 60px 0 60px;
  background: #efefef;
  color: #2C3E50;
}

.stats h1{
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.stats h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

/*** Progress bars **/
.progress{
  height: 12px;
  background-color:#ebeef1;
  background-image:none;
  box-shadow:none;
}
.progress.no-radius{
  border-radius:0px;
}
.progress.no-radius .progress-bar{
  border-radius:0px;
}
.progress.transparent{
  background-color:rgba(0, 0, 0, 0.28);
}
.progress.progress-small{
  height: 4px;
}
.progress.progress-small .progress-bar{height:4px;}
.progress-bar{
  box-shadow:none;
  border-radius: 3px;
  background-color: #0090D9;
  background-image: none;
}
.progress-bar-black{
  background-color: #22262e;
  background-image: none;
}

/* ------------------------------------------------------------------- */
/* Testimonials Section
---------------------------------------------------------------------- */

#testimonials {
  background: #fff;
  position: relative;
  padding-top: 20px;
  width: 100%;
}

#testimonials h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #203055;
  text-align: center;
}

#testimonials .mint{
  background: #203055;
  border: 0;
}

.testimonials-slider {
  text-align: center;
}

.testimonials-slider li p:before {
  font-family: 'FontAwesome';
  content: '\f10d';
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  margin-right: 10px;
}

.testimonials-slider li p {
  font-family: 'Varela Round', sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #203055;
  line-height: 36px;
  padding: 30px 60px 100px;
}

.testimonials-slider li p span {
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-top: 20px;
}

.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}

/* --------------------------------- */
/* Flexslider
------------------------------------*/
.flexslider {
	margin: 0;
	padding: 0;
}

.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}

.flexslider .slides img {
	width: 100%;
	display: block;
}

.flexslider .slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .flexslider .slides {
	display: block;
}

* html .flexslider .slides {
	height: 1%;
}

.no-js .flexslider .slides > li:first-child {
	display: block;
}

.flex-direction-nav { display: none; }

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 60px;
	text-align: center;
	z-index: 999;
	left: -5px;
}

.flex-control-nav li {
	margin: 0 3px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a {
	width: 12px;
	height: 12px;
	display: block;
	background: transparent;
	border: 2px solid #fff;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.flex-control-paging li a:hover { background: #fff; }

.flex-control-paging li a.flex-active {
	background: #fff;
	cursor: default;
}

/* ------------------------------------------------------------------- */
/* Media Queries for Home Page
---------------------------------------------------------------------- */
@media only screen and (max-width: 991px){
	header .logos {
	  bottom: -10px;
	}
}
@media only screen and (max-width: 768px){
	.header-one .content {
	  margin-top: 140px;
	}   
	.header-two .content {
	  margin-top: 180px;
	}
    header h1.name {
     font-size: 30px;
    }
    header h1.hire {
     font-size: 24px;
    }
	header .form-row .radio-left a,
	header .form-row .radio-right a { 
	  margin-bottom: 10px;  
	}	  
    .banner-comment h1 {
     font-size: 24px;
    }
	.services h3,#testimonials h3 {
     font-size: 18px;
    }
    .stats .pro{
	 margin-bottom: 50px;
	}	
	.stats h1 {
	 font-size: 24px;
	}
	.stats h5 {
	 font-size: 15px;
	}			
}
@media only screen and (max-width: 420px){
    .banner-comment h2 {
     font-size: 20px;
    } 
	.stats h1 {
	 font-size: 20px;
	}
	.stats h5 {
	 font-size: 14px;
	}
}
/* ==========================================================================
   About Page  (about.html)
   ========================================================================== */ 

/* ------------------------------------------------------------------- */
/* Header Section
---------------------------------------------------------------------- */

.header-about {
  background: url('../img/slider/4.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 65vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-about .content {
  margin-top: 10px;
}

.header-about h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.header-about p {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

@media only screen and (max-width: 420px){
	.header-about h1 {
	  font-size: 22px;
	}
	.header-about p {
     font-size: 14px;
    }
}

/* ------------------------------------------------------------------- */
/* Hello Section
---------------------------------------------------------------------- */
.hello {
  background: #fff;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  overflow:hidden;
} 

.hello h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #2c3e50;
  padding-top: 3px;
  padding-bottom: 3px;
}

.hello p {
  font-family: 'Varela Round', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #868585 !important;
}

@media only screen and (max-width: 767px){
  .hello h3 {
   font-size: 18px;
  }
  .hello p {
   font-size: 14px;
  }
} 

/* ------------------------------------------------------------------- */
/* Timeline Section
---------------------------------------------------------------------- */
.time{
  background: #25303B;
  color: #fff;
}

.time h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.time p.top-p {
  margin: 10px 0;
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.mint {
  background-color: #203075 !important;
}

.timeline h4.timeline-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #2c3e50 !important;
  margin-top: 0;
  letter-spacing: 1px;
}

.timeline-body > p {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #868585 !important;
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media only screen and (max-width: 767px){
    ul.timeline:before {
      left: 40px;
    }

    ul.timeline > li > .timeline-panel {
      width: calc(100% - 90px);
      width: -moz-calc(100% - 90px);
      width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
      left: 15px;
      margin-left: 0;
      top: 16px;
    }

    ul.timeline > li > .timeline-panel {
      float: right;
    }

	ul.timeline > li > .timeline-panel:before {
	  border-left-width: 0;
      border-right-width: 15px;
	  left: -15px;
	  right: auto;
	}

	ul.timeline > li > .timeline-panel:after {
	  border-left-width: 0;
	  border-right-width: 14px;
	  left: -14px;
	  right: auto;
	}
	
    .time h3 {
     font-size: 18px;
    }
	.timeline h4.timeline-title {
      font-size: 16px;
    }
    .timeline-body > p {
      font-size: 14px;
    }
}

/* ------------------------------------------------------------------- */
/* White Section
---------------------------------------------------------------------- */

.whitebg {
  background: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

.whitebg h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  color: #868585;
  letter-spacing: 2px;
}

@media only screen and (max-width: 767px){
  .w h3 {
   font-size: 18px;
  }
}

/* ------------------------------------------------------------------- */
/* Team Section
---------------------------------------------------------------------- */

.team {
  background: #2C3E50;
  color: #fff !important;
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;
}

.team h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.team p.top-p {
  margin: 10px 0;
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
}

.team h5.profile-name {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
  letter-spacing: 1px;	
}

.team .profile-description {
  font-family: 'Varela Round', sans-serif;
  color: #899797 !important;
  font-size: 14px;
  margin-bottom: 25px;	
  text-align: left;
}

.team .image-wrap {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  cursor: pointer;
}

.team .image-wrap img {
  width: 100%;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;	
}

.team .image-wrap  .hover-wrap {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  
	
  opacity: 0;
  filter: alpha(opacity=0);
	
  -webkit-transition: all 450ms ease-out 0s;	
   -moz-transition: all 450ms ease-out 0s;
    -o-transition: all 450ms ease-out 0s;
     transition: all 450ms ease-out 0s;
		  
  -webkit-transform: rotateY(180deg) scale(0.5,0.5);
   -moz-transform: rotateY(180deg) scale(0.5,0.5);
	-ms-transform: rotateY(180deg) scale(0.5,0.5);
	 -o-transform: rotateY(180deg) scale(0.5,0.5);
	  transform: rotateY(180deg) scale(0.5,0.5);	
}

.team .image-wrap:hover .hover-wrap,
.team .image-wrap.active .hover-wrap {
  opacity: 1;
  filter: alpha(opacity=100);
  
  
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
	
  -webkit-transform: rotateY(0deg) scale(1,1);
   -moz-transform: rotateY(0deg) scale(1,1);
    -ms-transform: rotateY(0deg) scale(1,1);
     -o-transform: rotateY(0deg) scale(1,1);
	  transform: rotateY(0deg) scale(1,1);
}

.team .image-wrap .hover-wrap .overlay-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #203075;
  
  
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
	
  opacity: 0.80;
  filter: alpha(opacity=80);
}

.team .image-wrap .hover-wrap .overlay-text-thumb {
  position: absolute;
  width: 100%;
  height: 32px;
  top: 50%;
  margin: -16px 0 0 0;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
	
  opacity: 1;
  filter: alpha(opacity=100);
}

.team .social-icons {
  margin-bottom: 30px;
  padding: 0;
}

.team .social-icons li {
  display: inline-block;
  margin-left: 15px;	
}

.team .social-icons li:first-child {
  margin-left: 0;
}

.team .social-icons li a{
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1em;
  width: 16px;
  height: 16px;
	
  opacity: 0.3;
  filter: alpha(opacity=30);
	
  -webkit-transition: opacity 0.1s linear 0s;	
   -moz-transition: opacity 0.1s linear 0s;
    -o-transition: opacity 0.1s linear 0s;
     transition: opacity 0.1s linear 0s;
}

.team .social-icons li a:hover{
  opacity: 1;
  color: #FFFFFF !important;
  filter: alpha(opacity=100);
}

@media only screen and (max-width: 767px){
  .team h3 {
   font-size: 18px;
  }

  .team p {
   font-size: 14px;
  }
}	

/* ------------------------------------------------------------------- */
/* Join Section
---------------------------------------------------------------------- */

.join {
  background: #203075;
  padding: 70px;
  text-align: center;
}

.join h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

@media only screen and (max-width: 767px){
  .join h3 {
   font-size: 18px;
  }
}

/* ==========================================================================
   Job Page  (jobs.html)
   ========================================================================== */ 

/* ------------------------------------------------------------------- */
/* Header section
---------------------------------------------------------------------- */
.header-jobs {
  background: #25303B;
  color: #fff;
  height: 45vh;
  width: 100%;
}

.header-jobs .content {
  margin-top: 140px;
}

.jobslist {
 z-index: 0;
}

.jobslist h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1px; 
  color: #2C3E50;
}

@media only screen and (max-width: 767px){
    .header-jobs {
     height: 45vh;
     width: 100%;
    }
}
@media only screen and (max-width: 480px){
	.kafe-btn-mint{
	  font-weight: 700;
	  font-size: 12px;
	
	  margin-top: 10px;
	  padding: 13px 11px;
	}
	.header-jobs .content {
	  margin-top: 120px;
	}
}

/* ==========================================================================
   Job Post Page (jobpost.html)
   ========================================================================== */ 

/* ------------------------------------------------------------------- */
/* Header section
---------------------------------------------------------------------- */
.header-jobpost {
  background: #25303B;
  color: #fff;
  height: 45vh;
  width: 100%;
}

.header-jobpost .content {
  margin-top: 140px;
}

.header-jobpost .kafe-btn-mint{
  position: relative;
  margin-top: 93px;
  left: 0px;
}

@media only screen and (max-width: 767px){
    .header-jobpost {
     height: 45vh;
     width: 100%;
    }
}
@media only screen and (max-width: 480px){
	.header-jobpost .kafe-btn-mint{
	  font-weight: 700;
	  font-size: 12px;
	
	  margin-top: 10px;
	  padding: 13px 11px;
	}
	.header-jobpost .content {
	  margin-top: 120px;
	}
}

/* ------------------------------------------------------------------- */
/* Job Post section
---------------------------------------------------------------------- */ 
.jobpost {
  z-index: 0;
}

.jobpost .col-lg-8.white{
  padding-top: 10px;
}

.jobpost .post-top-sec{
  padding: 10px 0 0px 0;
}

.jobpost .post-bottom-sec{
  margin-bottom: 20px;
}

.jobpost h6 a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #2c3e50;
  letter-spacing: 1px;
}

.jobpost span a:hover{
  color: #2c3e50 !important;
}

.jobpost h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2c3e50;
}

.jobpost .post-top-sec h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2c3e50;
  font-size: 12px !important;
  letter-spacing: 1px;
}

.jobpost .post-top-sec .small-hr {
  margin:8px auto;
  border-bottom: 1px solid #FDFDFD;
  width: 100%;
}

.jobpost p {
  font-family: 'Varela Round', sans-serif;
  color: #868585 !important;
  font-weight: 300;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

.jobpost ul li {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #868585 !important;
  letter-spacing: 1px;
}

.jobpost .label-success {
  font-family: 'Varela Round', sans-serif;
  background: #0564ff !important; 
  margin-bottom: 5px;
  font-size: 10px;
  color: #fff !important;
  letter-spacing: 1px;
}

.jobpost blockquote {
  font-family: 'Varela Round', sans-serif;
  font-style: italic;
  font-size: 14px;
  color: #858686;
  line-height: 30px;
  letter-spacing: 1px;
}


/* ------------------------------------------------------------------- */
/* User Panel section
---------------------------------------------------------------------- */ 
   
.user .panel, 
.user.panel {
  overflow: hidden;
}

.user {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
}

.user .panel-img {
  width: 100%;
  height: 150px;
}

.user .user-avatar {
  margin-bottom: 0px;  
  text-align: center;
  background: #25303B;
  padding-bottom: -40px;
  height: 95px;
}

.user .user-avatar img {
  width: 90px;
  height: 90px;
  max-width: 90px;
  max-height: 90px;
  position: relative;
  top: -50px;
}

.user h4 {
  font-family: 'Montserrat', sans-serif;
  margin: 0!important;
  font-weight: 700;
  color: #fff !important;
  position: relative;
  top: -45px;
  letter-spacing: 1px;
}

.user p {
  font-family: 'Varela Round', sans-serif;
  margin: 0!important;
  position: relative;
  top: -45px;
  color: #868585 !important;
  letter-spacing: 1px;
}

.user > .list-group .list-group-item {
  border-top: 0;
} 

.user .list-group .list-group-item {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  color: #868585 !important;
  letter-spacing: 1px;
}

/* ==========================================================================
   Service Page (services.html)
   ========================================================================== */ 

/* ------------------------------------------------------------------- */
/* Header section
---------------------------------------------------------------------- */
.header-services {
  background: #25303B;
  color: #fff;
  height: 45vh;
  width: 100%;
}

.header-services .content {
  margin-top: 140px;
}

.jobslist {
 z-index: 0;
}

.jobslist h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1px; 
  color: #2C3E50;
}

@media only screen and (max-width: 768px){
    .header-services {
     height: 45vh;
     width: 100%;
    }
}
@media only screen and (max-width: 480px){
	.header-services .content {
	  margin-top: 120px;
	}
}

/* ==========================================================================
   Freelancer Styles  (freelancer.html)
   ========================================================================== */ 

/* ------------------------------------------------------------------- */
/* Header Section
---------------------------------------------------------------------- */   

.header-freelancer {

  background: linear-gradient(
      rgba(34,34,34,0.7), 
      rgba(34,34,34,0.7)
    ), url('../img/bg/2.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 85vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-freelancer .content {
  margin-top: 70px;
}

.header-freelancer img {
  width: 200px;
  height: 200px;
}

.header-freelancer h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
}

.header-freelancer p {
  font-family: 'Varela Round', sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

.header-freelancer .kafe-btn-mint-small {
  font-size: 14px;
}

@media only screen and (max-width: 480px){
	.header-freelancer .content {
	  margin-top: 80px;
	}
	.header-freelancer img {
	  width: 150px;
	  height: 150px;
	}
	.header-freelancer h1 {
	  font-size: 24px;
	}
	.header-freelancer p {
     font-size: 14px; 
    }
	.header-freelancer .kafe-btn-mint-small{
	  font-weight: 700;
	  font-size: 12px;
	  margin-top: 10px;
	}		
}

/* ------------------------------------------------------------------- */
/* Folio Section
---------------------------------------------------------------------- */
.folio {
  width: 100%;
  overflow:hidden;
}

.folio h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2c3e50;
  letter-spacing: 1px;
}

.folio #sidebar {
  padding-top: 10px;
}

/* ------------------------------------------------------------------- */
/* Overview Section
---------------------------------------------------------------------- */
.overview {
  width: 100%;
  overflow:hidden;
} 

.overview #sidebar {
  padding-top: 10px;
}

.overview h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2c3e50;
  letter-spacing: 1px;
}

.overview h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2c3e50;
  font-size: 14px !important;
  letter-spacing: 1px;
}
.overview  p {
  font-family: 'Varela Round', sans-serif;
  padding-bottom: 0px;
  font-size: 14px;
  color: #868585 !important;
  letter-spacing: 1px;
}
.overview h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2c3e50;
  font-size: 12px !important;
  letter-spacing: 1px;
}

@media only screen and (max-width: 768px){
  .overview h3 {
   font-size: 14px;
  }
} 

.overview .about:after,
.overview .education:after,
.overview .work:after,
.overview .awards:after,
.overview .skills:after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  border-bottom: 4px solid #e0e0e0;
  padding-bottom: 10px;
}

/* ------------------------------------------------ */
/* About Section inside Freelancer.html
--------------------------------------------------- */

.overview .label-success {
  font-family: 'Varela Round', sans-serif;
  background: #0564ff !important; 
  margin-bottom: 5px;
  font-size: 10px;
  color: #fff !important;
  letter-spacing: 1px;
}

.overview .about .bottom-sec .small-hr {
  margin-top: 8px auto;
  border-bottom: 1px solid #FDFDFD;
  width: 100%;
}

/* ------------------------------------------------ */
/* Skills Section inside Freelancer.html
--------------------------------------------------- */

.overview .progress-xxs {
  height: 5px;
  box-shadow: none;
}
.overview .progress-bar-primary.progress-bar-mint{
  background: #0564ff !important; 
}

.overview .chart {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin:50px 0;
  text-align: center;
}

.overview .chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.overview .percent {
  display: inline-block;
  line-height: 40px;
  font-size:38px;
  font-weight:300;
  color: #2c3e50 !important;
  z-index: 2;
}
.overview .percent:after {
  margin-left: 0.1em;
  font-size: 50%;
}

/*----------------------------------- */
/* Our Team
------------------------------------- */
.overview .ourteam{
  padding-bottom: 10px;
}
.overview .profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.overview .profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.55);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.overview .img-box ul{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
}
.overview .profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.overview .img-box ul i{
	font-size: 20px;
	letter-spacing: 10px;
}
.overview .img-box ul li{
	width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #203075;
    margin: 2px;
    padding: 5px;
	display: inline-block;
}
.overview .img-box a{
	color:#fff;
}
.overview .img-box:hover:after{
	opacity: 1;
}
.overview .img-box:hover ul{
	opacity: 1;
}
.overview .img-box ul li a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.overview .img-box a:hover li{
	border-color: #fff;
	color: #fff;
}
.overview a{
    color:#fff;
}
.overview a:hover{
    text-decoration:none;
    color:#fff;
}
.overview i.red{
    color:#BC0213;
}

/* ==========================================================================
   Portfolio Page Styles  (porfolio.html)
   ========================================================================== */
   
/* ------------------------------------------------------------------- */
/* Portfolio Section
---------------------------------------------------------------------- */   
#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

/*--------------------------
----Project Modal Styles----
----------------------------*/
  
.fade.modal {
	overflow-x:hidden;
    overflow-y: scroll;
}

.modal.fade .modal-dialog {
	-webkit-transform: translateY(2000px);
	-moz-transform: translateY(2000px);
	-ms-transform: translateY(2000px);
	transform: translateY(2000px);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.5s;
}

.modal.in .modal-dialog {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.modal-backdrop{
    background-color:#1D2026;
}

.modal-backdrop.in{
    opacity:1;
	filter:alpha(opacity=100);
}

.modal-dialog{
    width:100%;
    padding:0;
	margin:0;
}

.modal-content{
    width:100%;
    border:none;
    border-radius:0;
    box-shadow:none;
    background-color:#fff;
}

.modal-header{
    width:100%;
    margin:0;
    padding:0;
    padding-top:40px;
    background:#203075;
    color:#fff;
    border:none;
    text-align:center;
}

#hdr-title{
  font-family: 'Montserrat', sans-serif;
  color: #fff !important;
  font-size: 36px !important;
  font-weight: 700;
  margin-bottom: 40px;
}

#project-modal .close{
    float:none;
    font-size:52px;
    line-height:52px;
    font-weight:300;
    margin-top:0px;
    margin-bottom:30px;
    opacity:1;
    color:inherit;
    text-shadow:none;
    -webkit-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
}

#project-modal .close:hover{
    opacity:.8;
}

.modal-body {
    margin:0;
    padding:60px 0 20px;
}

.modal-body .project-descr{
    margin:0 0 24px;
    
}

.modal-header .image-wrapper {
    position:relative;
    overflow:hidden;
}


#project-sidebar{
    margin-bottom:40px;
}

#project-sidebar h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2c3e50;
  letter-spacing: 1px;
}

#project-sidebar p,
#project-sidebar p a{
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  color: #868585 !important;
  letter-spacing: 1px;
  margin-bottom:10px;
}

#project-sidebar p a:hover{
  text-decoration: none;
  outline: 0;
  color: #18bc9c !important;
}

#project-sidebar i {
  margin-right: 7px;
}

#project-content p{
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  color: #868585 !important;
  letter-spacing: 1px;
}

/* ==========================================================================
   How 1 page (how-1.html)
   ========================================================================== */ 
   
/* ------------------------------------------------------------------- */
/* Header Section
---------------------------------------------------------------------- */   

.header-how {
  background: url('{{URL::asset("public/assset/img/slider/8.jpg")}}') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 65vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-how .content {
  margin-top: 10px;
}

.header-how h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.header-how p {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
}

@media only screen and (max-width: 420px){
	.header-how h1 {
	  font-size: 22px;
	}
	.header-how p {
     font-size: 14px;
    }
}

/* ------------------------------------------------------------------- */
/* White Section
---------------------------------------------------------------------- */ 

.w {
  background: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

.w h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #2c3e50;
  letter-spacing: 1px;
}

.w p {
  font-family: 'Varela Round', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #868585 !important;
}

/*
.w h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #899797;
  letter-spacing: 1px;
}
*/

@media only screen and (max-width: 420px){
	.w h2 {
	  font-size: 18px;
	}
	.w h3 {
     font-size: 16px;
    }
}

/* ------------------------------------------------------------------- */
/* Video Section
---------------------------------------------------------------------- */ 
.video{
	background:url('../img/bg/video-bg.png') no-repeat 0px 0px;
	min-height:400px;
	background-size:cover;
	text-align:center;
	position:relative;
}
a.play span{
	width:64px;
	height:64px;
	display:inline-block;
	background:url('../img/bg/paly-icon.png') no-repeat 0px 0px;
	position:absolute;
	top:43%;
	left:48%;
}
a.play span:hover{
	opacity:0.8;
}

/* ==========================================================================
   How 2 Page  (how-2.html)
   ========================================================================== */ 

/* ------------------------------------------------------------------- */
/* Header Section
---------------------------------------------------------------------- */    

.header-how-2 {
  background: url('../img/slider/6.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 65vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-how-2 .content {
  margin-top: 10px;
}

.header-how-2 h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  letter-spacing: 1px;
}

.header-how-2 p {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

@media only screen and (max-width: 420px){
	.header-how-2 h1 {
	  font-size: 22px;
	}
	.header-how-2 p {
     font-size: 14px;
    }
}


/* ------------------------------------------------------------------- */
/* Banner How Section
---------------------------------------------------------------------- */ 

.banner-how{
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 45vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.banner-how h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  letter-spacing: 1px;
}

.banner-how p {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

.banner-how.one{
  background: linear-gradient(
      rgba(34,34,34,0.7), 
      rgba(34,34,34,0.7)
    ), url('../img/how/1.jpg') no-repeat center center fixed;
}
.banner-how.two{
  background: linear-gradient(
      rgba(34,34,34,0.7), 
      rgba(34,34,34,0.7)
    ), url('../img/how/2.jpg') no-repeat center center fixed;
}
.banner-how.three{
  background: linear-gradient(
      rgba(34,34,34,0.7), 
      rgba(34,34,34,0.7)
    ), url('../img/how/3.jpg') no-repeat center center fixed;
}
.banner-how.four{
  background: linear-gradient(
      rgba(34,34,34,0.7), 
      rgba(34,34,34,0.7)
    ), url('../img/how/4.jpg') no-repeat center center fixed;
}
.banner-how.five{
  background: linear-gradient(
      rgba(34,34,34,0.7), 
      rgba(34,34,34,0.7)
    ), url('../img/how/5.jpg') no-repeat center center fixed;
}

@media only screen and (max-width: 420px){
	.banner-how h1 {
	  font-size: 22px;
	}
	.banner-how p {
     font-size: 14px;
    }
}

/* ==========================================================================
   Login Page Styles (login.html, register.html)
   ========================================================================== */ 

/* ------------------------------------------------------------------- */
/* Header Section 
---------------------------------------------------------------------- */   

.header-login {
  background: linear-gradient(
      rgba(34,34,34,0.7), 
      rgba(34,34,34,0.7)
    ), url('../img/bg/3.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 55vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-login .content {
  margin-top: 10px;
}

.header-login h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.header-login p {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

@media only screen and (max-width: 420px){
	.header-login h1 {
	  font-size: 22px;
	}
	.header-login p {
     font-size: 14px;
    }
}

/* ------------------------------------------------------------------- */
/* Banner Section
---------------------------------------------------------------------- */    
.banner-login {
  width: 100%;
 /* background: #efefef;*/
} 

/* ==========================================================================
   Sign Up Page (signup.html)
   ========================================================================== */
   
/* ------------------------------------------------------------------- */
/* Signup Section
---------------------------------------------------------------------- */    
   
.signup {
  width: 100%;
  background: #EFEFEF;
  padding-top: 150px; 
  padding-bottom: 150px; 
} 

.signup .item .fa-stack {
  color: #fff;
}

.signup .item .text-mint {
  color: #0564ff;
}

.signup .item h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000;
  letter-spacing: 1px;
}

.signup .item p {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

.signup .kafe-btn-mint{
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 14px;

  position: relative;
  margin-top: 15px;
  left: 0px;
  padding: 13px 31px;
  color: #fff;
  background: #0564ff; 
  letter-spacing: 1px; 
}

.signup .divider{
  font-family: 'Varela Round', sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  padding-top: 115px;
}

.signup span.or::before{
  top: -50px;
}

.signup span.or::before,
.signup span.or::after{
  position: absolute;
  content: "";
  display: block;
  padding: 55px 0;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  left: 95px;
}

.signup span.or::after{
  top: 185px;
  padding-top: 70px;
}

@media only screen and (max-width: 1199px){
    .signup span.or{
	 position:relative;
     top: -50px !important;
    }
	.signup span.or::before,
	.signup span.or::after{
	  display: none;
	}	
}

@media only screen and (max-width: 767px){
	.signup {
	  padding-top: 100px; 
	  padding-bottom: 100px; 
	} 
}

/* ==========================================================================
   Contact Page Styles (contact.html)
   ========================================================================== */ 

/* ------------------------------------------------------------------- */
/* Header Contact Page
---------------------------------------------------------------------- */   

.header-contact {
  background: linear-gradient(
      rgba(34,34,34,0.8), 
      rgba(34,34,34,0.8)
    ), url('../img/bg/4.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 65vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-contact .content {
  margin-top: 20px;
}

.header-contact h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.header-contact p {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

.header-contact .location{
  margin-top: 70px;
}

.header-contact .location a,
.header-contact .location a:hover,
.header-contact .location a:focus { 
  color: #fff;
}

.header-contact .location p { 
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
}

@media only screen and (max-width: 420px){
	.header-contact h1 {
	  font-size: 22px;
	}
	.header-contact p {
     font-size: 14px;
    }
}

/* ------------------------------------------------------------------- */
/* Map Section inside Contact Page
---------------------------------------------------------------------- */   
 .map iframe{
  width:100%;
  height:400px;
}  

/* ------------------------------------------------------------------- */
/* Form Section inside Contact Page
---------------------------------------------------------------------- */   

.contact {
  width: 100%;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 60px;
} 

.contact h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #2C3E50;
  letter-spacing: 1px;
}

.contact p.top-p {
  color: #868585 !important;
  margin: 10px 0;
 }

/* Styling for the contactform */
#contactform {
  display: block;
  width: 100%;
  margin: 50px auto 0;
  text-align: left;
}

#contactform label {
  position: relative;
  z-index: 13;
  padding-left: 10px;
  color: #2C3E50;
}

#contactform label {
  line-height: 50px;
}

#contactform input,
#contactform textarea,
#contactform select {
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 50px;
  margin-top: -50px;
  line-height: 50px;
  font-size: 1em;
  padding-left: 30px;
  padding-right: 10px;
  width: 100%;
  color: #666666;
  background: #ffffff;
  border: 2px solid #eeeeee;
}

#contactform select {
  padding-right: 10px;
  margin-bottom: 20px;
}

@-moz-document url-prefix() {
  #contactform select {
	padding-top: 14px;
  }
}

#contactform textarea {
  line-height: 25px;
  width: 100%;
  min-height: 120px;
}

#contactform input.input-verify {
  padding-left: 55px;
}

#contactform input:focus,
#contactform textarea:focus,
#contactform select:focus {
  border: 2px solid #25E6B1;
  background-color: #ffffff;
  color: #1a1a1a;
}

#contactform .kafe-btn-mint{
  position: relative;
  margin-top: 15px;
  left: 0px;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px){
	.header-contact {
	  height: 85vh;
	  width: 100%;
	}
	.header-contact .content {
	  margin-top: 20px;
	}	
	.contact h3 {
	font-size: 18px;
	}
}	
@media only screen and (max-width: 420px){
	.header-contact h1 {
	  font-size: 24px;
	}
	.header-contact p {
     font-size: 14px;
    }
}

/* ==========================================================================
   Blog Page Styles (blog.html)
   ========================================================================== */ 
   
/* ------------------------------------------------------------------- */
/* Header Section
---------------------------------------------------------------------- */    

.header-blog {
  background: linear-gradient(
      rgba(34,34,34,0.6), 
      rgba(34,34,34,0.6)
    ), url('../img/bg/5.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 65vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-blog .content {
  margin-top: 10px;
}

.header-blog h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.header-blog p {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

@media only screen and (max-width: 420px){
	.header-blog h1 {
	  font-size: 22px;
	}
	.header-blog p {
     font-size: 14px;
    }
}


/* ------------------------------------------------------------------- */
/* Blog Categories Inside Blog Page
---------------------------------------------------------------------- */

.blog-categories{
  background-color: #fff;
  padding: 0;
  margin: 0 !important;
  font-size: 13px;
}

.blog-categories .container{
  margin: 0 auto;
}

.blog-categories .blog-title {
	display: none;
}

/* The toggle */
.blog-categories #drop,
.blog-categories .drop {
	display: none;
}

/* The menu items */
.blog-categories ul.cat{
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

.blog-categories ul.cat li{
  display: inline-block;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
} 

.blog-categories ul.cat .current-cat a{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #203075 !important;
  border-bottom: 5px solid #23b0a3;
}

.blog-categories ul.cat li a {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #203075;
  padding: 25px 30px;
  text-decoration: none;
  text-transform: uppercase;
}  

.blog-categories ul.cat li a:hover {
  color: #2C3E50;
  border-bottom: 5px solid #2C3E50;
}

/* ******************** Responsive settings for the menu ******************** */
@media only screen and (max-width: 767px){
    .blog-categories a.blog-title {
	  display: inline-block;
	  text-decoration: none;
      font-size: 1.2em;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      color: #203075 !important;
	  float: left;
	  height: 50px;
	  padding: 15px 15px;
	  line-height: 20px;
	  text-transform: uppercase;
	  font-weight: 700;
	  margin-bottom: 0;
	  margin-left: 15px;
    }
	/* The toggle */
	.blog-categories .drop {
		display: block;
		position: relative;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
        color: #203075 !important;
		float: right;
		font-family: 'FontAwesome';
		text-align: center;
		font-size: 14px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	
	.drop:hover {
        color: #203075 !important;
	}
	
	.drop:after {
		content: '\f0c9';
	}
	
	#drop:checked ~ .cat {
		display: block;
		filter: alpha(opacity=100);
		opacity: 1;
	}
	
	#drop:checked + .drop:after {
		content: '\f077';
	}
	
	/* The menu items */
	.blog-categories .cat {
		display: none;
		filter: alpha(opacity=0);
		opacity: 0;
		width: 100%;
		position: absolute;
		top: 450px;
		right: 0;
		height: auto;
		text-align: left;
		background: #2C3E50;
		padding-bottom: 50px;
		z-index: 999;
	}
	
	.blog-categories .cat li {
		display: block;
        color: #fff !important;
		width: 100%;
		height: 40px;
	}
	
	.blog-categories .cat li a {
		display: block;
        color: #fff !important;
		width: 100%;
		line-height: 10px !important;
		margin-left: 15px;
	}
	
	.blog-categories .cat li a:hover {
        color: #23b0a3 !important;
	}	
}

/* ------------------------------------------------------------------- */
/* Blog Articles Inside Blog Page
---------------------------------------------------------------------- */
   
.blog {
  width: 100%;
  background: #f2f2f2;
  padding-top: 50px; 
  padding-bottom: 30px; 
} 

.blog h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #858686;
}

.blog span {
  font-family: 'Varela Round', sans-serif;
  padding-bottom: 0px;
  font-size: 16px;
  color: #858686;
  padding-bottom: 30px;
}

.blog span a{ 
  display: inline-block; 
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 14px; 
  color: #858686;
  padding-bottom: 30px;
}

.blog span a:hover { 
  text-decoration: none; 
}

.blog .bb{
  margin-bottom: 30px !important;
}

.blog .bb .panel {
  margin-bottom: 0px !important;
}

.blog .bb .panel .caption-link {
  display: block;
  position: relative;
  margin: 0 auto;
}

.blog .bb .panel .caption-link .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(68,68,68,.9);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform:translateY(-50px);
  -webkit-transition: -webkit-transform .4s ease-out,opacity .4s ease-in;
  transition: transform .4s ease-out,opacity .4s ease-in-out;
}

.blog .bb .panel .caption-link .caption:hover {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform:translateY(0px);
}

.blog .bb .panel .caption-link .caption .caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.blog .bb .panel .caption-link .caption .caption-content i {
  margin-top: -12px;
}

.blog .bb .panel .caption-link .caption .caption-content h3,
.blog .bb .panel .caption-link .caption .caption-content h4 {
  margin: 0;
}

.panel * {
  z-index: 2;
}

.blog .bb .panel .panel-img{
  width: 100%;
  height: 250px;
}

.blog .bb .panel-body:before{
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(255, 255, 255, 15);
  position: relative;
  top: -10px;
  z-index: 5;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: -webkit-transform .25s ease-out,opacity .25s ease-in;
  -moz-transition: -moz-transform .25s ease-out,opacity .25s ease-in;
  -o-transition: -o-transform .25s ease-out,opacity .25s ease-in;
  -ms-transition: -ms-transform .25s ease-out,opacity .25s ease-in;
  transition: transform .25s ease-out,opacity .25s ease-in-out;
}

.blog .bb .panel-body{
  background: #fff !important;
  color: #858686;
  position: relative;
  top: -1px;
  padding-top: 0px;
  -webkit-transition: -webkit-transform .25s ease-out,opacity .25s ease-in;
  -moz-transition: -moz-transform .25s ease-out,opacity .25s ease-in;
  -o-transition: -o-transform .25s ease-out,opacity .25s ease-in;
  -ms-transition: -ms-transform .25s ease-out,opacity .25s ease-in;
  transition: transform .25s ease-out,opacity .25s ease-in-out;
}

.blog .bb .panel-body h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.blog .bb .panel-body .date{
  font-family: 'Varela Round', sans-serif;
  margin-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.blog .bb .panel-body p {
  font-family: 'Varela Round', sans-serif;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
}

.blog .bb .panel-body hr {
  height: 1px;
  background: #eee;
}

.blog .bb .panel-body ul.bottom_data{
  margin-bottom: 0px;
  list-style: none;
  padding: 0px;
}

.blog .bb .panel-body ul.bottom_data li:first-child{
  padding-left: 0px;
  border-right: none;
}

.blog .bb .panel-body ul.bottom_data li{
  font-family: 'Varela Round', sans-serif;
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: normal;
  line-height: 1;
  float: left;
  padding: 0px 15px;
}

.blog .bb .panel-body ul.bottom_data li .fa{
  margin-right: 5px;
}

.blog .bb .panel-body ul.bottom_data li:last-child{
  padding-right: 0px;
  border-right: none;
}

a.a-body:hover{
  text-decoration: none;
}

.panel-body:hover:before{
  border-bottom: 10px solid #203075 !important;
}

.blog .bb .panel-body:hover{
  text-decoration: none;
  color: #fff !important;
  background: #203075 !important;
}

.blog .page:before {
  display: none;
}

.blog .page .pagination > .disabled > a,
.blog .page .pagination > .disabled > a:focus,
.blog .page .pagination > .disabled > a:hover,
.blog .page .pagination > .disabled > span,
.blog .page .pagination > .disabled > span:focus,
.blog .page .pagination > .disabled > span:hover {
  background: #0564ff !important;
  border-color: #0564ff !important;
}

.blog .page .pagination > .active > a,
.blog .page .pagination > .active > a:focus,
.blog .page .pagination > .active > a:hover,
.blog .page .pagination > .active > span:focus,
.blog .page .pagination > .active > span:hover {
  background: #1D2026 !important;
  border-color: #1D2026 !important;
  color: #fff !important;
}

.blog .page .pagination li a, 
.blog .page .pagination li span{
  font-family: 'Montserrat', sans-serif;
  font-size:15px;
  color:#fff !important;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  background: #0564ff;
  border-radius: 0px;
}

.blog .page .pagination li a:hover,
.blog .page .pagination li a:focus,
.blog .page .pagination li span:hover,
.blog .page .pagination li span:focus {
  color: #2c3e50 !important;
  background: #fff;
}

/* pull-right on all except xs devices */
@media (min-width: 767px) {
    .pull-right-sm {
        float: right;
    }
}
@media only screen and (max-width: 767px){
	.blog h3 {
	font-size: 18px;
	}
}
@media only screen and (max-width: 420px){
	.header-blog h1 {
	  font-size: 22px;
	}
	.header-blog p {
     font-size: 14px;
    }
}

/* ==========================================================================
   Blogpage.html Styles
   ========================================================================== */ 

/* ------------------------------------------------------------------- */
/* Header Page
---------------------------------------------------------------------- */   

.header-blogpage {
  background: url('../img/blog/1.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 75vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-blogpage .content {
  margin-top: 10px;
}

.header-blogpage h6{
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.header-blogpage h6 a {
  text-decoration: none;
  color: #fff;
  border-bottom: 3px solid #F16078;
  padding-bottom: 5px;
  display: inline-block;
}

.header-blogpage h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
}

.white-blogpage {
  padding: 30px 20px 30px;
}

@media only screen and (max-width: 420px){
	.header-blogpage h3 {
	  font-size: 20px;
	}
}

/* ------------------------------------------------------------------- */
/* Related Articles Styles
---------------------------------------------------------------------- */ 
.articles {
  background: #fff;
  width: 100%;
  padding-bottom: 20px;
}
.articles div.col-md-4{
  margin: 0 !important;
  padding: 0 !important;
}

.articles .container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.articles .container-fluid li{
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.articles .tint{
  position: relative;
  float: left;
  cursor: pointer;
  background-color: #3F3D48;
  width: 100%;
}

.articles .tint .featured-thumbnail{
  position: relative;
  opacity: 0.3;
  max-height: 250px;
  overflow: hidden;
}

.articles .tint .featured-thumbnail img{
  width: 100%;
}

.articles .featured-titles{
  text-align: center;
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
}

.articles .featured-titles h6{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.articles .featured-titles h6 a{
  text-decoration: none;
  color: #fff;
}

.articles .featured-titles hr{
  border: 1px solid #F16078;
  width: 30%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.articles .featured-titles p.blog-title a{
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  padding-top: 10px;
  max-width: 70%;
  margin: 0 auto;
  max-height: 120px;
  overflow: hidden;
}

.articles .featured-titles p.blog-title a:hover{
  text-decoration: none;
  color: #fff !important;
}


/* ------------------------------------------------------------------- */
/* Blog Author Styles
---------------------------------------------------------------------- */ 

.blogauthor {
  background: #fff;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
}

.blogauthor h3.title{
  position: relative;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  color: #2C3E50;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.blogauthor h3.title::before{
  border-top: 1px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
}

.blogauthor h3.title span{
  background: #fff;
  padding: 0 15px;
}

.blogauthor img{
  position: relative;
  height: 90px;
  width: 90px;
  left: 46%;
  padding-bottom: 10px;
}

.blogauthor h5 a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2c3e50;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.blogauthor h5 a:hover,{
  text-decoration: none;
  outline: 0;
  color: #18bc9c !important;
}

.blogauthor p.desc{
  max-width: 450px;
  font-family: 'Montserrat', sans-serif;
  color: #858686 !important;
  font-weight: 300;
  margin: 0 auto;
  font-size: 14px;
  letter-spacing: 1px;
}


/* ------------------------------------------------------------------- */
/* Comments Styles
---------------------------------------------------------------------- */  
.comments{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}

.comments h3{
  font-family: 'Montserrat', sans-serif;
  color: #2c3e50 !important;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.comments h3::after{
  content: "";
  display: block;
  width: 86px;
  height: 2px;
  margin-top: 10px;
  background-color: #203075;
  margin-right: 10px;
  margin-bottom: 25px;
}

.comment{
  padding-top: 15px;
  padding-bottom: 40px;
}

.comment .comment-logo{
  float: left;
  padding-right: 0px !important;
}

.comment .comment-logo img{
  height: 86px;
  width: 86px;
}

.comment .comment-body{
  padding-top: 0px !important;
  padding-left: 0px !important;
  position: relative;
  left: -50px;
}

.comment .comment-body-one{
  padding-top: 0px !important;
  padding-left: 0px !important;
  position: relative;
  left: 140px;
}

.comment .comment-body h6,
.comment .comment-body-one h6{
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  color: #2c3e50 !important;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  padding-bottom: 0px;
}

.comment .comment-body span,
.comment .comment-body-one span{
  display: inline-block;
  width: 100%;
  text-align: left;
  font-family: 'Varela Round', sans-serif;
  color: #9c969e;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 0px;
}

.comment .comment-body p,
.comment .comment-body-one p{
  font-family: 'Varela Round', sans-serif;
  color: #858686 !important;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}   

@media only screen and (max-width: 991px){
	.blogauthor img{
	  position: relative;
	  left: 45%;
	}	
   
   .comment .comment-body{
    padding-top: 0px !important;
    padding-left: 13px !important;
    position: relative;
    left: 0px;
    }

   .comment .comment-body-one{
    padding-top: 0px !important;
    padding-left: 10px !important;
    position: relative;
    left: 0px;
   }
}
@media only screen and (max-width: 767px){
	.blogauthor h3.title {
	font-size: 18px;
	}
	.blogauthor h5 a {
	font-size: 16px;
	}	
}
@media only screen and (max-width: 420px){
	.header-blogpage h2 {
	  font-size: 20px;
	}
	
	.blogauthor img{
	  position: relative;
	  left: 35%;
	}	
}	

/* ------------------------------------------------------------------- */
/* Header Styles Page
---------------------------------------------------------------------- */   

.header-faq {
  background: linear-gradient(
      rgba(34,34,34,0.6), 
      rgba(34,34,34,0.6)
    ), url('../img/bg/6.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 65vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-faq .content {
  margin-top: 10px;
}

.header-faq h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.header-faq p {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

/*----------------------------------- */
/* FAQ section
------------------------------------- */
.faq {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow:hidden;
} 

.faq #basics,
.faq #account,
.faq #job{
  margin-bottom: 40px;
}
.faq h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  color: #2C3E50;
}
.faq .panel{
  border:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  margin-bottom: 0px;
}
.faq .panel-success{
  border-color: #18bc9c;
} 
.faq .panel-success .panel-heading{
  color: #fff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}
.faq .panel-success .panel-heading .accordion-toggle:after {
	font-family: 'FontAwesome';
    content:"\f068"; /*Minus*/
    float: right;
}
.faq .panel-success .panel-heading .accordion-toggle.collapsed:after {
	content: '\f067'; /*Plus*/
}
.faq .panel-body{
    padding: 30px;
}
.panel-heading {
    padding:15px 50px;
}
.faq .panel-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 36px;
}
.faq .panel-heading .panel-title a:hover,
.faq .panel-heading .panel-title a:focus {
  text-decoration: none;
  color: #fff !important;
}

.faq .panel-body p {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  color: #858686 !important;
  letter-spacing: 1px;
}


.faq #sidebar .panel-heading {
    padding:15px 30px;
    text-align:left;
}
.faq #sidebar .panel-body{
    padding:15px 0;
}
.faq .sidenav > li > a {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  color: #858686 !important;
  letter-spacing: 1px;
  display: block;
  padding: 5px 30px;
}
.faq .sidenav > li > a:hover,
.faq .sidenav > li > a:focus {
  text-decoration: none;
  background-color: #fafafa;
}

.faq .sidenav li.active {
  background-color: #18BC9C;
}

.faq .sidenav > .active > a,
.faq .sidenav > .active:hover > a,
.faq .sidenav > .active:focus > a {
  color: #fff !important;
}

.faq .sidenav li.hr{
  border: 1px solid #eee;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (max-width: 500px){
	.header-faq h1 {
	  font-size: 22px;
	}
	.header-faq p {
     font-size: 14px;
    }
    .panel{
	  margin-bottom: 30px;
	}
	.panel-heading {
		padding:10px 30px;
	}
	.panel-group .panel-heading .panel-title{
	  font-size:15px;
	}
}	

.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #97979773;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark2 {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark2 {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark2:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark2:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}